extends layout

block content
  
  div()

    h1= 'The Recipe Box'
    p.welcome  #{title} is where inspiration and good food come together!
  //- img(src="/images/recipeBox_caponata-pasta.jpg", id="caponata-pasta")
