extends layout

block content
  
  div()

    h1= 'The Recipe Box'
    p.welcome  #{title} is where inspiration and good food come together!
  div(class="grid-container")
    div
      img(src="/images/recipeBox_caponata-pasta.jpg", id="caponata-pasta")
      ul
        li Share your favorite recipes that you love!
        li Travel the world of flavors!
        li Collect and store all your recipes right here!
    div
      ul
        li Find and share everyday cooking inspiration on this website! 
        li Discover new recipes to make your taste buds smile! 
       
      img(src="/images/recipeBox_spicy soup.jpg", id="spicy_soup")


  
