extends layout

block content
  div(class="newRecipesBorder")
    div()
      h1= 'New Recipes'
      p.welcome Add new recipe and share!
      
    div(class="grid-containerNewRecipes")
      div(class="leftSideNewRecipes")
        img(src="/images/recipeBox_recipe-image.png", id="recipe-image")
        //- label Prep time
        //- input(type="text" class="left-input")
        //- label Cook time
        //- input(type="text" class="left-input")
        //- label Number of servngs
        //- input(type="number" class="left-input")
        //- label Recipe Yields
        //- input(type="number" class="left-input")

      
      
      div(class="rightSideNewRecipes")
        label Prep time
        input(type="text" class="left-input")
        label Cook time
        input(type="text" class="left-input")
        label Number of servngs
        input(type="number" class="left-input")
        label Recipe Yields
        input(type="number" class="left-input")
        br
        label(class="recipe-spacing") Recipe Title
        input(type="text" class="recipe-spacing")
        br
        label(class="recipe-spacing") Description
        input(type="text" class="recipe-spacing")
        br
        label(class="recipe-spacing") Ingredients
        textarea(class="recipe-spacing")
        br
        label(class="recipe-spacing") Directions
        textarea(class="recipe-spacing")
        br
        label(class="recipe-spacing") Recipe Category
        select(class="recipe-spacing")
          option()
          option() Mexican
          option() Italian
          option() Asian
          option() American
          option() Other
          