extends layout

block content

  div()
    h1= 'New User'
    p.welcome Welcome to The Recipe Box!! Here you can share your favorite recipes and find new ones to try!!
    img(src="/images/", class="scaleImg")

footer ©2019 Amy Krewson-Hulsman & Paul Gephart