/*nav bar*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(206, 24, 24);
}
.nav a li {
  float: left;
}

.nav a li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover li {
  background-color: rgb(206, 24, 24);
}
h1 {
  font: 27px bold "Times New Roman", cursive, sans-serif;
  
}

.welcome{
  font: 22px "Times New Roman", cursive, sans-serif;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  
}
ul{
  Font: 19px "Times New Roman", cursive, sans-serif;
  
  }
  li{
    margin: 15px 0;
  }
  /* New Recipes Page */
.newRecipesBorder {
  padding: 10px;
}
.grid-containerNewRecipes{
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0 50px;
}
label{
  margin: 10px 5px 10px 5px;
}
input{
  margin: 10px 5px;
}
.leftSideNewRecipes {
  display: grid;
  grid-template-rows: 3;
}

#recipe-image {
  width: 700px;
  height: auto;
}
.left-input {
  width: 40px;
}
.additional-ingredients {
  padding-left: 75px;
}
/* Recipes Page */
#porkchops {
  width: 90%;
  height: auto;
}
.grid-containerRecipes{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.recipe-spacing {
  margin: 20px 0;
}
.card {
  border: 1px black solid;
  margin-bottom: 10px;
  max-width: 600px;
  padding: 10px;
}
.details {
  padding: 0 10px;
}