/*nav bar*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(206, 24, 24);
}
.nav a li {
  float: left;
}

.nav a li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover li {
  background-color: rgb(206, 24, 24);
}
h1 {
  font: 27px bold "Times New Roman", cursive, sans-serif;
}

.welcome{
  font: 22px "Times New Roman", cursive, sans-serif;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  
}
ul{
  Font: 19px "Times New Roman", cursive, sans-serif;
  
  }
  li{
    margin: 15px 0;
  }
